#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.cmd
*.diff
*.zip
*.bak
*.elf
*.hex
*.log
*.lst
*.lss
*.map
*.eep
*.so
*.ly1
*.out
*.exe
*.dat
*.cof

# generated circuit files
*.*-
*.*~
*.pdf
*.net
*.ps
\#*
*.backup
*.csv
*.bom
*.bak*
*.cnc
*.gbr
*.new.pcb
tags

# Exceptions
!.gitignore
